.home-container {
  width: 100%;
  display: flex;
  overflow: scroll;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-home {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: scroll;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(229, 229, 229, 1);
}
.home-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 199px;
  position: absolute;
}
.home-rectangle2 {
  top: 199px;
  left: 0px;
  width: 1920px;
  height: 199px;
  position: absolute;
}
.home-text {
  top: 50px;
  left: 776px;
  color: rgba(255, 255, 255, 1);
  width: 368px;
  height: auto;
  position: absolute;
  font-size: 80px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text02 {
  top: 170px;
  color: rgba(255, 255, 255, 1);
  width: 368px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-button-overingbutton {
  top: 110px;
  left: 1258px;
  width: 174px;
  height: 90px;
  position: absolute;
}
.home-text04 {
  top: 140px;
  left: 1258px;
  color: rgb(255, 255, 255);
  width: 174px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text05 {
  top: 140px;
  left: 1452px;
  color: rgba(255, 255, 255, 1);
  width: 174px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text07 {
  top: 140px;
  left: 1646px;
  color: rgba(255, 255, 255, 1);
  width: 174px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text09 {
  top: 270px;
  left: -53px;
  color: rgba(255, 255, 255, 1);
  width: 530px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text11 {
  top: 528px;
  left: 1091px;
  color: rgba(0, 0, 0, 1);
  width: 1091px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  overflow: scroll; /* Assurez-vous que le contenu dépasse de la zone parente */
  white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
  animation: slide 0.2s ease-in-out forwards; /* Durée, timing et répétition de l'animation */
}
.home-text30 {
  top: 450px;
  left: 44px;
  color: rgb(0, 0, 0);
  width: 433px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text31 {
  font-weight: 700;
}
.home-text32 {
  text-decoration: underline;
}
.home-text33 {
  font-style: normal;
  font-weight: 400;
}
.home-text34 {
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
}
.home-text35 {
  font-style: normal;
  font-weight: 400;
}
.home-text36 {
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
}
.home-text37 {
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
}
.home-text38 {
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
}
.home-text39 {
  font-style: normal;
  font-weight: 400;
}
.home-text40 {
  font-style: normal;
  font-weight: 400;
}
.home-text41 {
  font-style: normal;
  font-weight: 400;
}
.home-text42 {
  font-style: normal;
  font-weight: 400;
}
.WebContainer{
  width:100%;
  min-width:1000px;
  height:auto;
}
.home-text04:hover {
  color: yellow;
}
.home-text05:hover {
  color: yellow;
}
.home-text07:hover {
  color: yellow;
}
@keyframes slide {
  0% {
    transform: translateX(100%); /* Démarre le texte en dehors de la zone parente */
  }
  100% {
    transform: translateX(0%); /* Fait glisser le texte vers la gauche jusqu'à sa position d'origine */
  }
}